@if (leftTeam?.tricode && rightTeam?.tricode) {
<div class="flex h-screen w-screen flex-row gap-4">
  @if (!hideBg) {
  <img class="absolute -z-10" src="/assets/maps/wide/{{statsData?.metadata?.map?.name}}.webp" />
  }
  <!-- LEFT TEAM -->
  <div class="m-2 grid h-97/100 w-1/2 grid-rows-7 gap-3 rounded-md p-2">
    <!-- Team Info -->
    <div class="timer-gradient-to-right row-span-1 rounded-sm">
      <div class="flex h-full w-full flex-row items-center">
        <img class="h-3/4 w-1/6 object-contain" src="{{leftTeam?.url}}" />
        <div class="flex h-3/4 w-2/6 flex-col justify-around">
          <span class="font-unbounded ml-2 text-6xl text-white">{{leftTeam?.tricode}}</span>
          <span class="font-montserrat ml-2 text-2xl text-gray-400">{{leftTeam?.name}}</span>
        </div>
        @if (statsData?.metadata?.is_completed) { @if (leftTeam?.won) {
        <div
          class="text-defender-primary font-montserrat w-2/6 text-center text-7xl font-bold italic"
        >
          WIN
        </div>
        } @else {
        <div
          class="text-attacker-primary font-montserrat w-2/6 text-center text-7xl font-bold italic"
        >
          LOSS
        </div>
        } } @else {
        <div class="w-2/6"></div>
        }
        <div class="font-unbounded w-1/6 text-center text-8xl font-bold text-white">
          {{leftTeam?.rounds?.won}}
        </div>
      </div>
    </div>
    <!-- MVP -->
    <app-mvp-player
      [player]="leftPlayers![0]"
      class="mvp-gradient-to-right row-span-2 rounded-sm"
    ></app-mvp-player>
    @for (i of numSequence(leftPlayers?.length || 0); track $index) { @if ($index > 0) {
    <app-regular-player
      class="regular-gradient-to-right h-full w-full"
      [player]="leftPlayers![$index]"
    ></app-regular-player>
    } }
  </div>
  <!-- RIGHT TEAM -->
  <div class="m-2 grid h-97/100 w-1/2 grid-rows-7 gap-3 rounded-md p-2">
    <!-- Team Info -->
    <div class="timer-gradient-to-left row-span-1 rounded-sm">
      <div class="flex h-full w-full flex-row items-center">
        <div class="font-unbounded w-1/6 text-center text-8xl font-bold text-white">
          {{rightTeam?.rounds?.won}}
        </div>
        @if (statsData?.metadata?.is_completed) { @if (rightTeam?.won) {
        <div
          class="text-defender-primary font-montserrat w-2/6 text-center text-7xl font-bold italic"
        >
          WIN
        </div>
        } @else {
        <div
          class="text-attacker-primary font-montserrat w-2/6 text-center text-7xl font-bold italic"
        >
          LOSS
        </div>
        } } @else {
        <div class="w-2/6"></div>
        }
        <div class="flex h-3/4 w-2/6 flex-col items-end justify-around">
          <span class="font-unbounded ml-2 text-6xl text-white">{{rightTeam?.tricode}}</span>
          <span class="font-montserrat ml-2 text-2xl text-gray-400">{{rightTeam?.name}}</span>
        </div>
        <img class="h-3/4 w-1/6 object-contain" src="{{rightTeam?.url}}" />
      </div>
    </div>
    <!-- MVP -->
    <app-mvp-player
      [player]="rightPlayers![0]"
      [isRight]="true"
      class="mvp-gradient-to-left row-span-2 rounded-sm"
    ></app-mvp-player>
    @for (i of numSequence(rightPlayers?.length || 0); track $index) { @if ($index > 0) {
    <app-regular-player
      class="regular-gradient-to-left h-full w-full"
      [player]="rightPlayers![$index]"
      [isRight]="true"
    ></app-regular-player>
    } }
  </div>
  <div
    class="bg-timer/90 pos-x-center text-md absolute z-100 flex flex-row gap-2 rounded-b-md p-1 px-2 text-white"
  >
    <img src="assets/misc/icon.webp" class="max-h-5 max-w-5 px-1 py-0.5 align-middle" />
    {{ TranslateKeys.Watermark_Text | translate }}
  </div>
</div>
}
