.bg-roundwin-defender-top {
  border-top: 2px solid;
  border-color: var(--defender-color-shield-currency);
  background: linear-gradient(
    180deg,
    rgba(var(--defender-color-shield-currency-rgb), 0.5) 0%,
    rgba(var(--defender-color-shield-currency-rgb), 0) 100%
  );
}

.bg-roundwin-defender-bottom {
  border-bottom: 2px solid;
  border-color: var(--defender-color-shield-currency);
  background: linear-gradient(
    0deg,
    rgba(var(--defender-color-shield-currency-rgb), 0.5) 0%,
    rgba(var(--defender-color-shield-currency-rgb), 0) 100%
  );
}

.bg-roundwin-attacker-top {
  border-top: 2px solid;
  border-color: var(--attacker-color-shield-currency);
  background: linear-gradient(
    180deg,
    rgba(var(--attacker-color-secondary-rgb), 0.5) 0%,
    rgba(var(--attacker-color-secondary-rgb), 0) 100%
  );
}

.bg-roundwin-attacker-bottom {
  border-bottom: 2px solid;
  border-color: var(--attacker-color-shield-currency);
  background: linear-gradient(
    0deg,
    rgba(var(--attacker-color-secondary-rgb), 0.5) 0%,
    rgba(var(--attacker-color-secondary-rgb), 0) 100%
  );
}

@keyframes animations-reasons {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.animate-reasons-in {
  animation: animations-reasons 0.15s reverse ease-in-out;
  will-change: opacity, transform;
}

.animate-reasons-out {
  animation: animations-reasons 0.15s ease-in-out;
  will-change: opacity, transform;
}

.bg-overtime {
  background: linear-gradient(to right, #ffffff22 0%, transparent 40%);
}
