<div class="">
  <div class="controlBlock" *ngIf="showInterface" [class.flip]="flipInterface">
    <button class="test-button" *ngIf="playerControllers.length &lt; 5" (click)="addPlayer()">
      Add Player
    </button>
    <button class="test-button" *ngIf="playerControllers.length &gt; 0" (click)="removePlayer()">
      Remove Player
    </button>
    <button class="test-button" (click)="addRoundwin()">Win round</button>
  </div>
  <div class="playerControllerSpace" [class.shop]="_roundPhase === 'shopping'">
    <ng-template #playerControllerSpace></ng-template>
  </div>
</div>
