@use "../testing.component.scss";

.playerControllerSpace {
  position: relative;
  width: 100%;
  top: 70px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 31px;
  &.shop {
    @extend .playerControllerSpace;
    gap: 23px;
  }
}
