.bg-playerinfo-defender-left {
  background:
    linear-gradient(
      90deg,
      rgba(var(--defender-color-rgb), 0.3) 0%,
      rgba(var(--defender-color-rgb), 0) 100%
    ),
    rgba(15, 25, 35, 0.6);
}

.bg-playerinfo-attacker-left {
  background:
    linear-gradient(
      90deg,
      rgba(var(--attacker-color-rgb), 0.5) 0%,
      rgba(var(--attacker-color-rgb), 0) 100%
    ),
    rgba(15, 25, 35, 0.6);
}

.bg-playerinfo-defender-right {
  background:
    linear-gradient(
      270deg,
      rgba(var(--defender-color-rgb), 0.3) 0%,
      rgba(var(--defender-color-rgb), 0) 100%
    ),
    rgba(15, 25, 35, 0.6);
}

.bg-playerinfo-attacker-right {
  background:
    linear-gradient(
      270deg,
      rgba(var(--attacker-color-rgb), 0.5) 0%,
      rgba(var(--attacker-color-rgb), 0) 100%
    ),
    rgba(15, 25, 35, 0.6);
}

.bg-playerinfo-observed-left {
  background:
    linear-gradient(90deg, rgba(225, 181, 22, 0.3) 0%, rgba(225, 181, 22, 0) 100%),
    rgba(15, 25, 35, 0.7);
}

.bg-playerinfo-observed-right {
  background:
    linear-gradient(270deg, rgba(225, 181, 22, 0.3) 0%, rgba(225, 181, 22, 0) 100%),
    rgba(15, 25, 35, 0.7);
}

.bg-playerinfo-dead-left {
  background: linear-gradient(
    to right,
    rgba(15, 25, 35, 0.8) 0%,
    rgba(15, 25, 35, 0.6) 60%,
    rgba(15, 25, 35, 0) 90%
  );
}

.bg-playerinfo-dead-right {
  background: linear-gradient(
    to left,
    rgba(15, 25, 35, 0.8) 0%,
    rgba(15, 25, 35, 0.6) 60%,
    rgba(15, 25, 35, 0) 90%
  );
}

/* Weapon info container */

.bg-weaponinfo-defender-left {
  background: linear-gradient(
    90deg,
    rgba(var(--defender-color-shield-currency-rgb), 0.5) 0%,
    rgba(var(--defender-color-rgb), 0.2) 58.5%,
    rgba(var(--defender-color-rgb), 0.01) 90.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.bg-weaponinfo-attacker-left {
  background: linear-gradient(
    90deg,
    rgba(var(--attacker-color-secondary-rgb), 0.5) 0%,
    rgba(var(--attacker-color-rgb), 0.3) 58.5%,
    rgba(var(--attacker-color-rgb), 0.01) 90.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.bg-weaponinfo-defender-right {
  background: linear-gradient(
    270deg,
    rgba(var(--defender-color-shield-currency-rgb), 0.5) 0%,
    rgba(var(--defender-color-rgb), 0.2) 58.5%,
    rgba(var(--defender-color-rgb), 0.01) 90.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.bg-weaponinfo-attacker-right {
  background: linear-gradient(
    270deg,
    rgba(var(--attacker-color-secondary-rgb), 0.5) 0%,
    rgba(var(--attacker-color-rgb), 0.3) 58.5%,
    rgba(var(--attacker-color-rgb), 0.01) 90.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.playercard-hp-shadow.defender {
  box-shadow: 0px 4px 8px 1px rgba(var(--defender-color-secondary-rgb), 0.6);
}

.playercard-hp-shadow.attacker {
  box-shadow: 0px 4px 8px 1px rgba(var(--attacker-color-secondary-rgb), 0.6);
}

@keyframes weapon-collapse-side-in {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.animate-weapon-collapse-in {
  transform-origin: left;
  animation-name: weapon-collapse-side-in;
}

.animate-weapon-collapse-in.right {
  transform-origin: right;
  animation-name: weapon-collapse-side-in;
}

.animate-weapon-collapse-out {
  transform-origin: left;
  animation-name: weapon-collapse-side-in;
  animation-direction: reverse;
}

.animate-weapon-collapse-out.right {
  transform-origin: right;
  animation-name: weapon-collapse-side-in;
  animation-direction: reverse;
}
