.testing-body {
  position: relative;
  width: 1920px;
  height: 1080px;
  background-size: cover;
  background-position: 50% 50%;
}

.bg1 {
  background-image: url(/assets/backgrounds/bg1.webp);
}

.bg2 {
  background-image: url(/assets/backgrounds/bg2.webp);
}

.bg3 {
  background-image: url(/assets/backgrounds/bg3.webp);
}

.bg4 {
  background-image: url(/assets/backgrounds/bg4.webp);
}

.bg5 {
  background-image: none;
}

.teamControllerContainer {
  position: absolute;
  top: 47%;
  left: 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &.shop {
    @extend .teamControllerContainer;
    top: 48%;
    left: 7%;
    width: 86%;
  }
}

.matchControlsSpace {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  justify-content: center;
}

.test-button {
  color: white;
  background-color: #0f1923d9;
  border: 2px groove gray;
  padding: 4px;
  font-family: Montserrat, Helvetica;
  max-height: 28px;
  font-size: 13.333px;
  line-height: normal;
  box-sizing: border-box;
}

.controlBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  &.flip {
    @extend .controlBlock;
    flex-direction: row-reverse;
  }
}
