<div #backgroundContainer class="testing-body" [class]="backgroundClass">
  <app-tracker [hideAuxiliary]="hideAuxiliary"></app-tracker>

  <div class="matchControlsSpace controlBlock">
    <button class="test-button" (click)="changeRoundPhase()">Change Round Phase</button>
    <button class="test-button" (click)="swapTeamColors()">Swap team colors</button>
    <button class="test-button" *ngIf="!isSpikePlanted" (click)="plantSpike()">Plant Spike</button>
    <button class="test-button" *ngIf="isSpikePlanted" (click)="detonateDefuseSpike()">
      Detonate/Defuse Spike
    </button>
    <button class="test-button" (click)="toggleInterface()">Toggle interface</button>
    <button class="test-button" (click)="switchBackground()">Switch background</button>
  </div>
  <div class="teamControllerContainer" [class.shop]="roundPhase === 'shopping'">
    <app-team-controller #team1 teamId="0" (roundWinEvent)="updateRoundNumber()"
      (spectateTakenEvent)="team2.spectateCleanse()" [showInterface]="showInterface" [roundPhase]="roundPhase"
      teamName="The Naturals" teamCode="INT"></app-team-controller>
    <app-team-controller #team2 teamId="1" (roundWinEvent)="updateRoundNumber()"
      (spectateTakenEvent)="team1.spectateCleanse()" [showInterface]="showInterface" [roundPhase]="roundPhase"
      teamName="The Zoologists" teamCode="ZOO" flipInterface></app-team-controller>
  </div>
</div>