@for (player of match.teams[0].players; track $index) {
  @if (streams.has(player.fullName)) {
    <div
      class="absolute box-border aspect-video h-48 overflow-clip rounded-sm border-3 border-[#0f1923] bg-[#0f1923]"
      [class.hidden]="!player.isObserved"
    >
      <div class="h-48 w-full">
        <iframe
          allow="camera;fullscreen;autoplay;"
          [src]="streams.get(player.fullName)"
          class="aspect-video w-full"
        ></iframe>
      </div>
      <div class="absolute -bottom-1 left-0 flex h-7 w-full bg-black/70">
        <div
          class="gradient absolute"
          [class]="match.teams[0].isAttacking ? 'attacker' : 'defender'"
        ></div>
        <div
          class="text-shadow-xl w-full max-w-85 overflow-clip px-2 text-left font-[Montserrat] text-lg font-extrabold text-white"
        >
          {{ player.fullName | nameOverride: player.name : getOverrideNames() }}
        </div>
        <div class="w-full px-2 text-right font-[Montserrat] text-lg font-semibold text-white">
          {{ player.kills }} / {{ player.deaths }} / {{ player.assists }}
        </div>
      </div>
    </div>
  }
}

@for (player of match.teams[1].players; track $index) {
  @if (streams.has(player.fullName)) {
    <div
      class="absolute box-border aspect-video h-48 overflow-clip rounded-sm border-3 border-[#0f1923] bg-[#0f1923]"
      [class.hidden]="!player.isObserved"
    >
      <div class="h-48 w-full">
        <iframe
          allow="camera;fullscreen;autoplay;"
          [src]="streams.get(player.fullName)"
          class="aspect-video w-full"
        ></iframe>
      </div>
      <div class="absolute -bottom-1 left-0 flex h-7 w-full bg-black/70">
        <div
          class="gradient absolute"
          [class]="match.teams[1].isAttacking ? 'attacker' : 'defender'"
        ></div>
        <div
          class="text-shadow-xl w-full max-w-85 overflow-clip px-2 text-left font-[Montserrat] text-lg font-extrabold text-white"
        >
          {{ player.fullName | nameOverride: player.name : getOverrideNames() }}
        </div>
        <div class="w-full px-2 text-right font-[Montserrat] text-lg font-semibold text-white">
          {{ player.kills }} / {{ player.deaths }} / {{ player.assists }}
        </div>
      </div>
    </div>
  }
}
