@for (player of match.teams[0].players; track $index) {
  @if (streams.has(player.fullName)) {
    <div
      class="border-[#0f1923] border-3 box-border rounded-sm h-48 aspect-video overflow-clip absolute bg-[#0f1923]"
      [class.hidden]="!player.isObserved"
    >
      <div class="h-48 w-full">
        <iframe
          allow="camera;fullscreen;autoplay;"
          [src]="streams.get(player.fullName)"
          class="w-full aspect-video"
        ></iframe>
      </div>
      <div class="bg-black/70 h-7 w-full absolute -bottom-1 left-0 flex">
        <div
          class="absolute gradient"
          [class]="match.teams[0].isAttacking ? 'attacker' : 'defender'"
        ></div>
        <div
          class="w-full max-w-85 text-left px-2 text-lg text-white text-shadow-xl font-extrabold font-[Montserrat] overflow-clip"
        >
          {{ player.fullName | nameOverride: player.name : getOverrideNames() }}
        </div>
        <div class="w-full text-right px-2 text-lg text-white font-semibold font-[Montserrat]">
          {{ player.kills }} / {{ player.deaths }} / {{ player.assists }}
        </div>
      </div>
    </div>
  }
}

@for (player of match.teams[1].players; track $index) {
  @if (streams.has(player.fullName)) {
    <div
      class="border-[#0f1923] border-3 box-border rounded-sm h-48 aspect-video overflow-clip absolute bg-[#0f1923]"
      [class.hidden]="!player.isObserved"
    >
      <div class="h-48 w-full">
        <iframe
          allow="camera;fullscreen;autoplay;"
          [src]="streams.get(player.fullName)"
          class="w-full aspect-video"
        ></iframe>
      </div>
      <div class="bg-black/70 h-7 w-full absolute -bottom-1 left-0 flex">
        <div
          class="absolute gradient"
          [class]="match.teams[1].isAttacking ? 'attacker' : 'defender'"
        ></div>
        <div
          class="w-full max-w-85 text-left px-2 text-lg text-white text-shadow-xl font-extrabold font-[Montserrat] overflow-clip"
        >
          {{ player.fullName | nameOverride: player.name : getOverrideNames() }}
        </div>
        <div class="w-full text-right px-2 text-lg text-white font-semibold font-[Montserrat]">
          {{ player.kills }} / {{ player.deaths }} / {{ player.assists }}
        </div>
      </div>
    </div>
  }
}
