.round-reasons-container {
  display: block;
  max-width: 600px;
  align-items: center;
  gap: 4px;
  padding: 0px 4px;
  position: relative;
  align-self: stretch;
  background-color: #0f1923cc;
  border-radius: 4px;
  box-shadow: inset 34px 0px 24.7px -8px #0f1923;
}

.left-team {
  display: flex;
  padding-top: 2px;
}

.right-team {
  display: flex;
  padding-bottom: 2px;
}

.team-info {
  max-width: 75px;
  min-width: 75px;
  color: white;

  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: 800;
  font-family: "Unbounded", Helvetica;
}

.reason-container {
  width: max-content;
  overflow-x: visible;
  float: right;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  width: 24px;
  height: 24px;
}

.image {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.round-number {
  position: absolute;
  padding: 0px 0px;
  margin: 0px 0px;

  width: 24px;
  height: 40px;
  line-height: 40px;

  text-align: center;
  color: white;

  font-size: 16px;
  font-weight: 800;
  font-family: "Unbounded", Helvetica;
}

.reason-color {
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  width: 25px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 6px;
  margin: 0px 1px;
  position: relative;
  flex: 0 0 auto;

  &.top {
    @extend .reason-color;
    border-top-width: 2px;
    border-top-style: solid;

    // Colors need to be in top and bottom because the gradient is shifts direction
    &.attacker {
      @extend .top;
      border-color: var(--attacker-color);
      background: linear-gradient(
        180deg,
        rgba(var(--attacker-color-rgb), 0.28) 0%,
        rgba(var(--attacker-color-rgb), 0) 100%
      );
    }

    &.defender {
      @extend .top;
      border-color: var(--defender-color);
      background: linear-gradient(
        180deg,
        rgba(var(--defender-color-rgb), 0.28) 0%,
        rgba(var(--defender-color-rgb), 0) 100%
      );
    }
  }

  &.bottom {
    @extend .reason-color;
    border-bottom-width: 2px;
    border-bottom-style: solid;

    &.attacker {
      @extend .bottom;
      border-color: var(--attacker-color);
      background: linear-gradient(
        180deg,
        rgba(var(--attacker-color-rgb), 0) 0%,
        rgba(var(--attacker-color-rgb), 0.28) 100%
      );
    }

    &.defender {
      @extend .bottom;
      border-color: var(--defender-color);
      background: linear-gradient(
        180deg,
        rgba(var(--defender-color-rgb), 0) 0%,
        rgba(var(--defender-color-rgb), 0.28) 100%
      );
    }
  }
}

.divider {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.line {
  position: relative;
  width: 1px;
  height: 30px;
  object-fit: cover;
}
