<div class="relative flex flex-row justify-center items-center vh-25">
  @if (full !== max) {
    <div
      class="absolute flex flex-row-gap-0.5 justify-center items-center animate-duration-150"
      animate.enter="animate-collapse-in"
      animate.leave="animate-collapse-out"
    >
      @for (i of numSequence(full); track $index) {
        <img class="vw-10 vh-10" src="assets/misc/ultimate-pip-full.svg" />
      }
      @for (i of numSequence(max - full); track $index) {
        <img class="vw-10 vh-10" src="assets/misc/ultimate-pip.svg" />
      }
    </div>
  } @else {
    <img
      class="vw-25 animate-duration-150"
      [src]="image"
      animate.enter="animate-fade-in"
      animate.leave="animate-fade-out"
    />
  }
</div>
