<div class="topinfo-container" *ngIf="tools.seriesInfo.mapInfo.length > 0">
  <div class="topinfo-pill">
    <app-mapinfo [map]="map" [mapinfo]="tools.seriesInfo.mapInfo[0]"></app-mapinfo>
  </div>
  <div class="topinfo-pill" *ngIf="tools.seriesInfo.mapInfo[1].type !== 'disabled'">
    <app-mapinfo [map]="map" [mapinfo]="tools.seriesInfo.mapInfo[1]"></app-mapinfo>
  </div>
  <div class="topinfo-pill" *ngIf="tools.seriesInfo.mapInfo[2].type !== 'disabled'">
    <app-mapinfo [map]="map" [mapinfo]="tools.seriesInfo.mapInfo[2]"></app-mapinfo>
  </div>
</div>

<!-- Disabling the watermark/setting a custom text without Spectra Plus is against the License terms and strictly forbidden -->
@if (tools.watermarkInfo.spectraWatermark || tools.watermarkInfo.customTextEnabled) {
  <div class="topinfo-container-right">
    <div class="topinfo-pill-flex">
      @if (tools.watermarkInfo.spectraWatermark) {
        <img src="assets/misc/icon.webp" alt="Underpeel Logo" class="spectra-logo" />
        <div class="topinfo-pill-text fadeLoopStart">{{ "topinfo.watermark" | translate }}</div>
        <div class="topinfo-pill-text fadeLoopDelay">&copy; valospectra.com</div>
      } @else {
        <!-- Custom text -->
        <div class="topinfo-pill-text">{{ tools.watermarkInfo.customText }}</div>
      }
    </div>
  </div>
}

<div class="sponsor-container" *ngIf="sponsorsAvailable">
  <ng-container *ngFor="let sponsor of sponsorImages; let i = index">
    <img
      *ngIf="i === currentSponsorIndex"
      class="sponsor-logo"
      [@fadeInOut]
      [src]="sponsor"
      alt="Sponsor Logo"
    />
  </ng-container>
</div>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol
    id="aperture"
    fill="none"
    stroke="white"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    viewBox="0 0 24 24"
  >
    <circle cx="12" cy="12" r="10" />
    <path
      d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"
    />
  </symbol>
</svg>
