.topinfo-container {
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 25px;
  overflow: hidden;
  &-right {
    @extend .topinfo-container;
    left: 1300px;
  }
}

.topinfo-pill {
  display: flex;
  height: 24px;
  min-width: 100px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding-left: 25px;
  padding-right: 25px;
  background: linear-gradient(
    90deg,
    rgba(15, 25, 35, 0.9) 0%,
    rgba(19, 31, 43, 0.7) 100%,
  );

    &-flex {
      @extend .topinfo-pill;
      min-width: 250px;
      background: linear-gradient(
      90deg,
      rgba(15, 25, 35, 0) 0%,
      rgba(15, 25, 35, 0.85) 25%,
      rgba(31.14, 37.75, 40.58, 0.85) 75%,
      rgba(31.14, 37.75, 40.58, 0) 100%
    );
  }
}

.topinfo-pill-text {
  position: relative;
  width: fit-content;
  font-family: Montserrat, Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sponsor-container {
  position: absolute;
  width: 240px;
  height: 88px;
  top: 0;
  left: 1680px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0px 0px 6px 6px;
}

.sponsor-logo {
  position: absolute;
  width: 156px;
  height: 71px;
  top: 11px;
  left: 42px;
  object-fit: contain;
  transition: opacity 1s ease-in-out;
}

/*
@keyframes fadeLoop1 {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  91% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeLoop2 {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  91% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeLoopStart {
  animation: fadeLoop1 2s normal infinite;
  animation-delay: 0s;
  position: absolute;
}

.fadeLoopDelay {
  animation: fadeLoop2 2s normal infinite;
  animation-delay: 0s;
  position: absolute;
  opacity: 0;
}
*/