<div class="topinfo-container" *ngIf="true">
    <div class="topinfo-pill">
        <div class="topinfo-pill-text">Map 1: {{map1}}</div>
    </div>
    <div class="topinfo-pill">
        <div class="topinfo-pill-text">Map 2: {{map2}}</div>
    </div>
    <div class="topinfo-pill">
        <div class="topinfo-pill-text">Map 3: {{map3}}</div>
    </div>
</div>
<div class="topinfo-container-right">
    <div class="topinfo-pill-flex">
        <img src="assets/misc/logo.webp" alt="Underpeel Logo" class="spectra-logo">
        <div class="topinfo-pill-text fadeLoopStart">Overlay by Spectra</div>
        <div class="topinfo-pill-text fadeLoopDelay">valospectra.com</div>
    </div>
</div>
<div class="topinfo-ad-display" *ngIf="false">
    <img class="UP-onlylogo" src="assets/tie-ins/underpeel-logo.png" />
</div>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="aperture" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="2" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="10" />
        <path
            d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
    </symbol>
</svg>