@if (player.auxiliaryAvailable.abilities) {
  <div class="flex flex-row" [class.justify-end]="right">
    @if (player.isAlive) {
      <div
        class="flex flex-row gap-4 overflow-hidden"
        [class.justify-end]="right"
        animate.enter="animate-collapse-side-in animate-duration-250"
        animate.leave="animate-collapse-side-out animate-duration-200"
      >
        <img
          class="vw-22"
          [class.brightness-35]="!isAvailable(player.abilities?.grenade || 0)"
          src="assets/grenades/{{ player.agentInternal }}Grenade.webp"
        />
        <img
          class="vw-22"
          [class.brightness-35]="!isAvailable(player.abilities?.ability1 || 0)"
          src="assets/ability1/{{ player.agentInternal }}Ability1.webp"
        />
        <img
          class="vw-22"
          [class.brightness-35]="!isAvailable(player.abilities?.ability2 || 0)"
          src="assets/ability2/{{ player.agentInternal }}Ability2.webp"
        />
      </div>
    } @else if (player.agentInternal === "Smonk") {
      <!-- Clove ability when dead -->
      <img
        class="vw-22"
        [class.brightness-35]="!isAvailable(player.abilities?.ability2 || 0)"
        src="assets/ability2/{{ player.agentInternal }}Ability2.webp"
        animate.enter="animate-fade-in animate-duration-250"
        animate.leave="animate-fade-out animate-duration-200"
      />
    }
  </div>
}
