@if (isShown()) {
  <div
    class="vw-1920 vh-520 flex flex-row justify-between"
    animate.leave="animate-fade-out animate-duration-300"
  >
    @for (team of dataModel.teams(); track $index; let tIdx = $index) {
      <div class="flex flex-col justify-end gap-4">
        @for (player of team.players; track $index) {
          @if (!dataModel.minimalMode()) {
            <app-player-combat-card
              [player]="player"
              [playerHealth]="player.health"
              [isObserved]="player.isObserved"
              [isAlive]="player.isAlive"
              [right]="tIdx === 1"
              [color]="team.isAttacking ? 'attacker' : 'defender'"
              [class]="[delayClass($index), tIdx === 1 ? 'right' : 'left']"
              animate.enter="animate-slide-in animate-duration-300 animate-style-early!"
            ></app-player-combat-card>
          } @else {
            <app-player-combat-card-minimal
              [player]="player"
              [playerHealth]="player.health"
              [isObserved]="player.isObserved"
              [isAlive]="player.isAlive"
              [right]="tIdx === 1"
              [color]="team.isAttacking ? 'attacker' : 'defender'"
              [class]="[delayClass($index), tIdx === 1 ? 'right' : 'left']"
              animate.enter="animate-slide-in animate-duration-300 animate-style-early!"
            >
            </app-player-combat-card-minimal>
          }
        }
      </div>
    }
  </div>
}
