.bg-fade-defender-left {
  background: linear-gradient(
    to right,
    transparent 10%,
    rgba(var(--defender-color-rgb), 0.6) 20%,
    rgba(var(--defender-color-rgb), 0.3) 40%,
    transparent
  );
}

.bg-fade-attacker-left {
  background: linear-gradient(
    to right,
    transparent 10%,
    rgba(var(--attacker-color-rgb), 0.6) 20%,
    rgba(var(--attacker-color-rgb), 0.3) 40%,
    transparent
  );
}

.bg-fade-defender-right {
  background: linear-gradient(
    to left,
    transparent 10%,
    rgba(var(--defender-color-rgb), 0.6) 20%,
    rgba(var(--defender-color-rgb), 0.3) 40%,
    transparent
  );
}

.bg-fade-attacker-right {
  background: linear-gradient(
    to left,
    transparent 10%,
    rgba(var(--attacker-color-rgb), 0.6) 20%,
    rgba(var(--attacker-color-rgb), 0.3) 40%,
    transparent
  );
}

/* minimal backgrounds */
.minimal.bg-fade-defender-left {
  background: linear-gradient(
    to right,
    transparent 10%,
    rgba(var(--defender-color-rgb), 0.6) 20%,
    rgba(var(--defender-color-rgb), 0.3) 40%,
    transparent 95%
  );
}

.minimal.bg-fade-attacker-left {
  background: linear-gradient(
    to right,
    transparent 10%,
    rgba(var(--attacker-color-rgb), 0.6) 20%,
    rgba(var(--attacker-color-rgb), 0.3) 40%,
    transparent 95%
  );
}

.minimal.bg-fade-defender-right {
  background: linear-gradient(
    to left,
    transparent 10%,
    rgba(var(--defender-color-rgb), 0.6) 20%,
    rgba(var(--defender-color-rgb), 0.3) 40%,
    transparent 95%
  );
}

.minimal.bg-fade-attacker-right {
  background: linear-gradient(
    to left,
    transparent 10%,
    rgba(var(--attacker-color-rgb), 0.6) 20%,
    rgba(var(--attacker-color-rgb), 0.3) 40%,
    transparent 95%
  );
}

.flip {
  transform: rotateY(180deg);
}
