<app-mapinfo-new class="absolute pos-x-4"></app-mapinfo-new>

<app-timer-rounder class="pos-x-center"></app-timer-rounder>
<app-round-number class="pos-x-center z-10"></app-round-number>
<app-spike-icon class="pos-x-center z-7"></app-spike-icon>

<app-topscore-new class="pos-x-center pos-y-10"></app-topscore-new>
<app-mapwins class="pos-x-center pos-y-80"></app-mapwins>

<app-watermark class="absolute pos-x-1360"></app-watermark>
<app-sponsor-box class="absolute pos-x-1680"></app-sponsor-box>

<app-roundreasons-new class="absolute pos-x-center pos-y-110"></app-roundreasons-new>
<app-scoreboard-new class="absolute pos-x-center pos-y-550"></app-scoreboard-new>

<app-combat-tracker class="absolute pos-x-center pos-y-620"></app-combat-tracker>

<app-endround-new class="absolute pos-x-center pos-y-250"></app-endround-new>
<app-timeout-new class="absolute pos-x-center pos-y-250"></app-timeout-new>
