@if (show()) {
  <div
    class="vw-138 vh-71 bg-timer relative"
    animate.enter="animate-spike-slide-in animate-duration-300"
    animate.leave="animate-spike-slide-out animate-duration-300"
  >
    <img
      class="absolute top-1/5 left-1/2 aspect-square -translate-x-1/2"
      [class.hidden]="!blinkState"
      src="assets/misc/Spike_top_light.svg"
    />
    <img
      class="absolute top-1/5 left-1/2 aspect-square -translate-x-1/2"
      [class.hidden]="blinkState"
      src="assets/misc/Spike_top_dark.svg"
    />
  </div>
}
