<div *ngIf="this.endRoundEnabled && match.roundPhase === 'end'">
  <div class="intro-box">
    <div class="intro-box-content" [style.background-image]="setTournamentBackgroundImage()">
      <div class="intro-info-box">
        <img class="intro-info-image" src="{{ tournamentUrl }}" />
        <div class="intro-round-text">ROUND WIN</div>
      </div>
    </div>
  </div>
  <div class="endround">
    <div class="endround-box" [style.background-image]="setTournamentBackgroundImage()">
      <div class="win-side">
        <div class="win-side-image-box">
          <img class="win-side-image" src="{{ match.teams[teamWon].teamUrl }}" />
        </div>
        <div class="win-side-text">{{ match.attackersWon ? "ATTACKER" : "DEFENDER" }} WIN</div>
      </div>
      <div class="info-box">
        <div class="info-image-box">
          <img class="info-image" src="{{ tournamentUrl }}" />
        </div>
        <div class="round-number">ROUND {{ match.roundNumber }}</div>
      </div>
    </div>
  </div>
</div>
