.intro-box {
  position: absolute;
  left: 26.23%;
  top: 40.5%;
  width: 875px;
  height: 200px;
  overflow: hidden;
  animation-name: fly-down;
  animation-duration: 4s;
  animation-fill-mode: both;
}

.intro-box-content {
  position: relative;
  width: 875px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation-name: slide-in;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
}

.intro-info-box {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.intro-info-image {
  position: relative;
  max-height: 70%;
  max-width: 100%;
}

.intro-round-text {
  position: relative;
  width: fit-content;
  text-shadow: 0px 1.21px 4.83px rgba(0, 0, 0, 0.12);
  font-family: "Unbounded", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  line-height: normal;
}

.endround {
  position: absolute;
  left: 26%;
  top: 100%;
  width: 875px;
  height: 200px;
  overflow: hidden;
  animation-name: slide-up;
  animation-duration: 3.95s;
  animation-fill-mode: both;
}

.endround-box {
  position: relative;
  width: 875px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

.win-side {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 30%;
  height: 100%;
}

.win-side-image-box {
  display: flex;
  height: 70%;
  align-items: center;
  justify-content: center;
  scale: 0.9;
}

.win-side-image {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.win-side-text {
  position: relative;
  width: fit-content;
  text-shadow: 0px 1.21px 4.83px rgba(0, 0, 0, 0.12);
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  line-height: normal;
}

.info-box {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.info-image-box {
  display: flex;
  height: 70%;
  align-items: center;
  justify-content: center;
  scale: 0.9;
}

.info-image {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.round-number {
  position: relative;
  width: fit-content;
  text-shadow: 0px 1.21px 4.83px rgba(0, 0, 0, 0.12);
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  line-height: normal;
}

@keyframes fly-down {
  0% {
    top: 40.5%;
  }
  90% {
    top: 40.5%;
  }
  100% {
    top: 150%;
  }
}

@keyframes slide-up {
  0% {
    top: 100%;
  }
  25% {
    top: 100%;
  }
  90% {
    top: 100%;
  }
  100% {
    top: 82%;
  }
}

@keyframes slide-in {
  0% {
    left: -102%;
  }
  75% {
    left: -102%;
  }
  100% {
    left: 0%;
  }
}
