<div class="wrapper" *ngIf="ready === true && completed === false" [@fade]>
  <div class="timeout-box" [style.background-image]="setTournamentBackgroundImage()">
    <div class="timeout-box-content">
      <div class="info-box">
        <img
          *ngIf="team !== 'tech'"
          class="info-image"
          [src]="match.teams[convertInt(team)].teamUrl"
        />
        <div *ngIf="team === 'tech'" class="info-text">TECHNICAL PAUSE</div>
        <div *ngIf="team !== 'tech'" class="info-text add-margin">
          {{ match.teams[convertInt(team)].teamName }} Tactical Timeout
        </div>
      </div>
    </div>
    <div class="progress-bar" *ngIf="team !== 'tech'">
      <div class="progress" [style.width]="getProgressWidth()"></div>
      <div class="timer">{{ timeLeft }}s</div>
    </div>
  </div>
</div>
