.container {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.ability-container {
  display: inline-flex;
  flex-direction: row;
  flex: auto;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.ability-icon {
  width: 24px;

  &.available {
    @extend .ability-icon;
    filter: brightness(1);
  }

  &.unavailable {
    @extend .ability-icon;
    filter: brightness(0.4);
  }
}