.container {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.ability-container {
  display: inline-flex;
  flex-direction: row;
  flex: auto;
  align-items: center;
  justify-content: center;
}

.ability-icon {
  width: 22px;
  padding-right: 20px;

  &.available {
    @extend .ability-icon;
    filter: brightness(1);
  }

  &.unavailable {
    @extend .ability-icon;
    filter: brightness(0.35);
  }
}

.ultimate-icon {
  width: 30px;

  &.available {
    @extend .ultimate-icon;
    filter: brightness(1);
  }

  &.unavailable {
    @extend .ultimate-icon;
    filter: brightness(0.35);
  }
}
