<div *ngIf="showInterface" class="controlBlock playerControls" [class.flip]="flipInterface">
  <button class="test-button" *ngIf="inCombat && playerObject.isAlive" (click)="kill()">
    Kill
  </button>
  <button class="test-button" *ngIf="inCombat && !playerObject.isAlive" (click)="revive()">
    Revive
  </button>
  <button class="test-button" *ngIf="!playerObject.ultReady" (click)="giveUltPoint()">
    Give Ult Point
  </button>
  <button class="test-button" *ngIf="playerObject.ultReady" (click)="useUlt()">Use Ult</button>
  <button class="test-button" (click)="changeShield()">Change Shield</button>
  <button class="test-button" (click)="changeStats()" *ngIf="inShopping">Change Stats</button>
  <button class="test-button" (click)="changeWeapon()">Change Weapon</button>
  <button class="test-button" *ngIf="inCombat && !playerObject.isCaptain" (click)="makeLeader()">
    Make Captain
  </button>
  <button
    class="test-button"
    *ngIf="inCombat && !playerObject.isObserved && playerObject.isAlive"
    (click)="spectate()"
  >
    Spectate
  </button>
  <button
    class="test-button"
    *ngIf="inCombat && !playerObject.hasSpike && isAttacking && playerObject.isAlive"
    (click)="giveSpike()"
  >
    Give Spike
  </button>
</div>
