@if (dataModel.watermarkInfo().spectraWatermark || dataModel.watermarkInfo().customTextEnabled) {
  <div
    class="pill-background flex flex-row justify-center items-center text-center vw-260 vh-24 rounded-b-lg overflow-hidden font-montserrat font-extrabold text-white text-[15px] uppercase"
  >
    @if (dataModel.watermarkInfo().spectraWatermark) {
      <img src="assets/misc/icon.webp" class="px-1 py-0.5 max-w-5 max-h-5 align-middle" />
      <div class="w-8/10 h-full relative flex justify-center">
        @if (currentRotationIndex() === 0) {
          <p class="absolute" animate.enter="animate-fade-in" animate.leave="animate-fade-out">
            Overlay by Spectra
          </p>
        } @else {
          <p class="absolute" animate.enter="animate-fade-in" animate.leave="animate-fade-out">
            &copy; valospectra.com
          </p>
        }
      </div>
    } @else if (dataModel.watermarkInfo().customTextEnabled) {
      <div class="w-full">
        <p>{{ dataModel.watermarkInfo().customText }}</p>
      </div>
    }
  </div>
}
