<div class="flex flex-row vh-74" [class.!flex-row-reverse]="right">
  <img
    class="relative left-7 vh-74 vw-74 z-2"
    [class.grayscale]="!player.isAlive"
    [class.flip]="right"
    [class.!-left-7]="right"
    src="assets/agents/{{ player.agentInternal }}{{ player.iconNameSuffix }}Icon.webp"
  />

  <!-- playername container -->
  <div
    class="relative flex flex-col min-vw-128 px-8 pt-1.5 items-start"
    [class]="playerinfoBackgroundClass()"
    [class.!items-end]="right"
  >
    @if (isObserved()) {
      <img
        class="absolute top-2 right-2"
        [class.left-2!]="right"
        src="assets/misc/ObserverEye.svg"
      />
    }

    <app-abilities-new class="vw-96 vh-22" [player]="player" [right]="right"></app-abilities-new>
    <div class="flex flex-row items-center vh-28" [class.flex-row-reverse]="right">
      <div class="max-vw-64 flex" [class.flex-row-reverse]="right">
        <!-- important for animation consistency -->
        @if (player.isAlive) {
          <div
            class="flex flex-row gap-1 items-center overflow-hidden"
            [class.flex-row-reverse]="right"
            animate.enter="animate-collapse-side-in animate-duration-250"
            animate.leave="animate-collapse-side-out animate-duration-200"
            [class.animate-p]="healthAnimationRunning"
          >
            <app-shield-icon [type]="player.armorName" [side]="color()"></app-shield-icon>
            <p class="font-montserrat font-extrabold text-xl text-center" [class]="textColor()">
              {{ player.health }}
            </p>
          </div>
        }
      </div>
      <p class="font-montserrat font-bold text-xs self-end mb-1 mx-1" [class]="textColor()">
        {{ player.kills }}/{{ player.deaths }}/{{ player.assists }}
      </p>
    </div>
    <div
      class="flex flex-row gap-1 font-montserrat font-semibold text-white -mt-1.5 max-vw-160 truncate"
      [class.flex-row-reverse!]="right"
    >
      {{ player.name }}
      @if (player.isCaptain) {
        <img class="self-baseline vw-17 vh-17" src="assets/misc/TeamCaptain.svg" />
      }
    </div>
    @if (player.isAlive) {
      <div
        class="absolute bottom-0 vh-3 transition-all"
        animate.enter="animate-collapse-side-in animate-duration-250"
        animate.leave="animate-collapse-side-out animate-duration-200"
        [class]="backgroundColor()"
        [class.left-0]="!right"
        [class.right-0]="right"
        [style.width.%]="clamp(player.health * 0.88 + 12, 0, 100)"
      ></div>
    }
  </div>

  <!-- weapon container -->
  @if (player.isAlive) {
    <div
      class="flex flex-col vw-186 px-4 justify-center overflow-hidden"
      animate.enter="animate-collapse-side-in animate-duration-250"
      animate.leave="animate-collapse-side-out animate-duration-200"
      [class.items-end]="right"
      [class]="weaponInfoBackgroundClass()"
    >
      <div>
        <!-- div needed to image scales correctly -->
        <img
          class="vh-32"
          [class.flip]="!right"
          src="assets/weapons/{{ player.highestWeapon }}Killfeed.webp"
        />
      </div>
      <app-ultimate-tracker
        class="w-2/5 mt-1"
        [max]="player.maxUltPoints"
        [full]="player.currUltPoints"
        image="assets/ultimates/{{ player.agentInternal }}Ultimate.webp"
      ></app-ultimate-tracker>
    </div>
  }
</div>
