<div class="vh-74 flex flex-row" [class.!flex-row-reverse]="right()">
  <img
    class="vh-74 vw-74 relative left-7 z-2"
    [class.grayscale]="!player.isAlive"
    [class.flip]="right()"
    [class.!-left-7]="right()"
    src="assets/agents/{{ player.agentInternal }}{{ player.iconNameSuffix }}Icon.webp"
  />

  <!-- playername container -->
  <div
    class="vw-146 relative flex flex-col items-start pt-1.5"
    [class]="[playerinfoBackgroundClass(), getLeftPad(), getRightPad()]"
    [class.!items-end]="right()"
  >
    @if (isObserved()) {
      <img
        class="absolute top-2 right-2"
        [class.left-2!]="right()"
        src="assets/misc/ObserverEye.svg"
      />
    }

    <div class="vw-96 vh-22 relative" [class.flex-row-reverse!]="right()">
      @if (!player.isAlive) {
        <div
          class="font-montserrat absolute flex flex-row items-baseline gap-1 font-bold"
          [class.right-0]="right()"
          [class]="textColor()"
          animate.enter="animate-fade-in animate-duration-300"
        >
          <img class="vw-10 vh-10" [src]="creditsIcon()" />
          <p>{{ player.money }}</p>
        </div>
      }
      @if (!dataModel.hideAuxiliary() && player.auxiliaryAvailable.abilities) {
        <app-abilities-new
          class="absoute h-full w-full max-w-fit justify-self-end"
          [player]="player"
          [right]="right()"
        ></app-abilities-new>
      }
    </div>

    <div class="vh-28 vw-144 flex flex-row gap-1" [class.flex-row-reverse]="right()">
      <div
        class="relative flex w-full flex-row gap-1 overflow-hidden transition-all duration-300"
        [class.flex-row-reverse]="right()"
        [class.grow-0!]="!player.isAlive"
        [class.w-0!]="!player.isAlive"
      >
        <div class="flex flex-row gap-3">
          <app-shield-icon [type]="player.armorName" [side]="color()"></app-shield-icon>
        </div>

        @if (!dataModel.hideAuxiliary() && player.auxiliaryAvailable.health) {
          <p class="font-montserrat vw-35 text-center text-xl font-extrabold" [class]="textColor()">
            {{ player.health }}
          </p>
        }
      </div>
      <div
        class="font-montserrat relative flex flex-row items-center gap-1 text-sm font-bold transition-all duration-300"
        [class.text-base!]="!player.isAlive"
        [class]="textColor()"
      >
        @if (dataModel.match().showAliveKDA || !player.isAlive) {
          <p>{{ player.kills }}/{{ player.deaths }}/{{ player.assists }}</p>
        } @else {
          <img class="vw-9 vh-9" [src]="creditsIcon()" />
          <p>{{ player.money }}</p>
        }
      </div>
    </div>

    <div
      class="font-montserrat vw-160 absolute bottom-0 -mt-1.5 flex flex-row gap-1 truncate font-semibold text-white"
      [class.flex-row-reverse!]="right()"
    >
      {{ player.name }}
      @if (player.isCaptain) {
        <img class="vw-17 vh-17 self-baseline" src="assets/misc/TeamCaptain.svg" />
      }
    </div>
    @if (player.isAlive) {
      <div
        class="vh-3 playercard-hp-shadow absolute bottom-0 transition-all"
        animate.enter="animate-collapse-side-in animate-duration-200"
        animate.leave="animate-collapse-side-out animate-duration-150"
        [class]="[backgroundColor(), color()]"
        [class.left-0]="!right()"
        [class.right-0]="right()"
        [style.width.%]="clamp(player.health * 0.88 + 12, 0, 100)"
      ></div>
    }
  </div>

  <!-- weapon container -->
  @if (player.isAlive) {
    <div
      class="vw-156 flex flex-col justify-center overflow-hidden px-4"
      animate.enter="animate-weapon-collapse-in animate-duration-200 animate-delay-150 animate-style-both"
      animate.leave="animate-weapon-collapse-out animate-duration-150 animate-style-keep"
      [class.items-end]="right()"
      [class]="weaponInfoBackgroundClass()"
      [class.right]="right()"
    >
      <div>
        <!-- div needed to image scales correctly -->
        <img
          class="vh-32"
          [class.flip]="!right()"
          src="assets/weapons/{{ player.highestWeapon }}Killfeed.webp"
        />
      </div>
      <app-ultimate-tracker
        class="mt-1 w-1/2"
        [max]="player.maxUltPoints"
        [full]="player.currUltPoints"
        image="assets/ultimates/{{ player.agentInternal }}Ultimate.webp"
      ></app-ultimate-tracker>
    </div>
  }
</div>
