<div class="vw-550 vh-90 flex flex-row justify-between">
  @for (team of dataModel.teams(); track $index) {
    <div class="vw-200 vh-65 relative">
      <!-- Image -->
      <div
        class="absolute top-1/2 flex w-2/5 -translate-y-1/2 justify-center"
        [class]="$index === 0 ? 'left-0' : 'right-0'"
      >
        <img [src]="team.teamUrl" class="h-7/11 w-7/11" />
      </div>
      <!-- Team Info -->
      <div
        class="absolute top-1/2 flex w-8/9 -translate-y-1/2 flex-col items-center"
        [class]="$index === 0 ? 'right-0' : 'left-0'"
      >
        <p class="font-unbounded text-xl font-extrabold tracking-tighter text-white uppercase">
          {{ team.teamTricode }}
        </p>
        <p class="font-montserrat text-xs font-extrabold tracking-tighter text-white/60">
          {{ $index === 0 ? dataModel.seedingInfo().left : dataModel.seedingInfo().right }}
        </p>
      </div>
      <!-- Team Rounds -->
      <div
        class="absolute top-1/2 flex w-1/5 -translate-y-1/2 items-center justify-center"
        [class]="$index === 0 ? 'right-0' : 'left-0'"
      >
        <p class="font-montserrat w-fit text-[2.75rem] leading-none font-bold text-white">
          {{ team.roundsWon }}
        </p>
      </div>
    </div>
  }
</div>
