<app-top-background class="pos-y-0 pos-x-center absolute -z-10"></app-top-background>
<app-mapinfo-new class="pos-x-4 absolute"></app-mapinfo-new>

<app-round-number class="pos-x-center z-10"></app-round-number>
<app-spike-icon class="pos-x-center z-7"></app-spike-icon>

<app-topscore-new class="pos-x-center"></app-topscore-new>
<app-mapwins class="pos-x-center pos-y-73"></app-mapwins>

<app-watermark class="pos-x-1280 absolute"></app-watermark>
<app-sponsor-box class="pos-x-1670 absolute"></app-sponsor-box>

<app-roundreasons-new class="pos-x-center pos-y-110 absolute"></app-roundreasons-new>
<app-scoreboard-new class="pos-x-center pos-y-550 absolute"></app-scoreboard-new>

<app-combat-tracker class="pos-x-center pos-b-25 absolute"></app-combat-tracker>
<app-playercams-new class="pos-x-476 pos-b-350 absolute"></app-playercams-new>

<app-endround-new class="pos-x-center pos-y-140 absolute"></app-endround-new>
<app-timeout-new class="pos-x-center pos-y-250 absolute"></app-timeout-new>
