<app-top-background class="pos-y-0 pos-x-center absolute -z-10"></app-top-background>
<app-series-maps class="pos-x-4 absolute"></app-series-maps>

<app-round-number class="pos-x-center z-10"></app-round-number>
<app-spike-planted class="pos-x-center z-7"></app-spike-planted>

<app-team-info class="pos-x-center"></app-team-info>
<app-series-wins class="pos-x-center pos-y-73"></app-series-wins>

<app-watermark class="pos-x-1280 absolute"></app-watermark>
<app-sponsor-box class="pos-x-1670 absolute"></app-sponsor-box>

<app-roundreasons class="pos-x-center pos-y-110 absolute"></app-roundreasons>
<app-scoreboard class="pos-x-center pos-y-550 absolute"></app-scoreboard>

<app-combat-player-list class="pos-x-center pos-b-25 absolute"></app-combat-player-list>
<app-playercams class="pos-x-476 pos-b-350 absolute"></app-playercams>

<app-endround class="pos-x-center pos-y-140 absolute"></app-endround>
<app-timeout class="pos-x-center pos-y-250 absolute"></app-timeout>
