<div class="playerscore-component" [class]="color">
  <div class="playerinfo-container">
    <img class="agent-icon" src="{{ assets }}/agents/{{ player.agentInternal }}Icon.webp" />
    <div class="rank-icon-container" *ngIf="match.ranksEnabled && match.ranksByName[player.name]">
      <img
        class="rank-icon"
        [class]="side"
        src="{{ assets }}/ranks/{{ match.ranksByName[player.name] }}_Rank.webp"
      />
    </div>
    <div class="playername-container" [class]="side">
      <div class="playername-text">{{ player.name }}</div>
      <div class="ultimate-tracker" *ngIf="!player.ultReady">
        <div class="pip-ultimate-full" *ngFor="let i of numSequence(player.currUltPoints)"></div>
        <div
          class="pip-ultimate"
          *ngFor="let i of numSequence(player.maxUltPoints - player.currUltPoints)"
        ></div>
      </div>
      <div class="ultimate-tracker" *ngIf="player.ultReady">
        <img
          class="ultimate-full-image"
          src="{{ assets }}/ultimates/{{ player.agentInternal }}Ultimate.webp"
        />
      </div>
    </div>
  </div>
  <div class="resources-container">
    <div class="shield-icon-container">
      <img
        class="shield-icon"
        [class]="side"
        src="{{ assets }}/shields/{{ player.armorName }}.webp"
      />
    </div>
    <app-abilities [side]="side" [player]="player" [phase]="'shopping'"></app-abilities>
    <div class="KDA-tracker-wrapper">
      <p class="KDA-tracker" [class]="side">
        <span class="KDA-text">{{ player.kills }}</span>
        <span class="KDA-text-delimiter"> / </span>
        <span class="KDA-text">{{ player.deaths }}</span>
        <span class="KDA-text-delimiter"> / </span>
        <span
          class="KDA-text"
          *ngIf="player.scoreboardAvailable || player.auxiliaryAvailable.scoreboard"
          >{{ player.assists }}</span
        >
        <span
          class="KDA-text"
          *ngIf="!player.scoreboardAvailable && !player.auxiliaryAvailable.scoreboard"
          >?</span
        >
      </p>
    </div>
    <div class="weapon-icon-container">
      <div class="weapon-icon-wrapper flip">
        <img
          class="weapon-icon"
          src="{{ assets }}/weapons/{{ player.highestWeapon }}Killfeed.webp"
        />
      </div>
    </div>
    <div class="money-container">
      <p class="money-element" [class]="side">
        <span class="money-text-red">-</span>
        <img class="credits-icon" src="{{ assets }}/misc/ValorantCreditsSpent.svg" />
        <span
          class="money-text-red"
          *ngIf="player.scoreboardAvailable || player.auxiliaryAvailable.scoreboard"
          >{{ player.moneySpent }}</span
        >
        <span
          class="money-text-red"
          *ngIf="!player.scoreboardAvailable && !player.auxiliaryAvailable.scoreboard"
          >?</span
        >
      </p>
      <p class="money-element" [class]="side">
        <img class="credits-icon" src="{{ assets }}/misc/ValorantCreditsWhite.svg" />
        <span
          class="money-text-white"
          *ngIf="player.scoreboardAvailable || player.auxiliaryAvailable.scoreboard"
          >{{ player.money }}</span
        >
        <span
          class="money-text-white"
          *ngIf="!player.scoreboardAvailable && !player.auxiliaryAvailable.scoreboard"
          >?</span
        >
      </p>
    </div>
  </div>
</div>
