.flip {
  transform: rotateY(180deg);
}

.right {
  @extend .flip;
}

.playerscore-component {
  display: flex;
  height: 74px;
  width: 760px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;

  &.defender {
    background: linear-gradient(
      90deg,
      rgba(var(--defender-color-rgb), 0) 3.74%,
      rgba(var(--defender-color-rgb), 0.65) 5.57%,
      rgba(var(--defender-color-rgb), 0.3) 22.42%,
      rgba(var(--defender-color-rgb), 0) 37.11%
    );
  }

  &.attacker {
    background: linear-gradient(
      90deg,
      rgba(var(--attacker-color-rgb), 0) 4.69%,
      rgba(var(--attacker-color-rgb), 0.65) 6.5%,
      rgba(var(--attacker-color-rgb), 0.3) 23.1%,
      rgba(var(--attacker-color-rgb), 0) 37.57%
    );
  }

  &.minimal {
    @extend .playerscore-component;
    width: auto;

    &.defender {
      background: linear-gradient(
        90deg,
        rgba(var(--defender-color-rgb), 0) 3.74%,
        rgba(var(--defender-color-rgb), 0.65) 5.57%,
        rgba(var(--defender-color-rgb), 0.3) 42.42%,
        rgba(var(--defender-color-rgb), 0) 67.11%
      );
    }

    &.attacker {
      background: linear-gradient(
        90deg,
        rgba(var(--attacker-color-rgb), 0) 4.69%,
        rgba(var(--attacker-color-rgb), 0.65) 6.5%,
        rgba(var(--attacker-color-rgb), 0.3) 53.1%,
        rgba(var(--attacker-color-rgb), 0) 74.57%
      );
    }
  }
}

.playerinfo-container {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.agent-icon {
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 74px;
  height: 74px;
}

.playername-container {
  display: flex;
  flex-direction: column;
  width: 121px;
  align-items: center;
  justify-content: center;
  gap: 3px;
  position: relative;
  align-self: stretch;
}

.playername-text {
  position: relative;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;

  &.minimal {
    @extend .playername-text;
    font-size: 18px;
  }
}

.agentname-text {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 11px;
  text-align: center;

  &.attacker {
    @extend .agentname-text;
    color: var(--attacker-color-shield-currency);
  }

  &.defender {
    @extend .agentname-text;
    color: var(--defender-color-shield-currency);
  }
}

.ultimate-tracker {
  display: inline-flex;
  align-items: center;
  gap: 1.25px;
  position: relative;
  flex: 0 0 auto;
}

.pip-ultimate {
  position: relative;
  background-image: url(/assets/misc/ultimate-pip.svg);
  background-size: 100% 100%;
  width: 10px;
  height: 10px;

  &-full {
    @extend .pip-ultimate;
    background-image: url(/assets/misc/ultimate-pip-full.svg);
  }
}

.ultimate-full-image {
  width: 25px;
  margin-left: auto;
  margin-right: auto;
}

.resources-container {
  display: flex;
  width: 530px;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  position: relative;
  align-self: stretch;
  margin-left: -85.6px;
  left: 7px;

  &.minimal {
    @extend .resources-container;
    width: 360px;
  }
}

.rank-icon-container {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -5px;
  top: 44px;
  background-size: cover;
  background-position: 50% 50%;
}

.rank-icon {
  height: 100%;
  aspect-ratio: 1;
}

.shield-icon-container {
  width: 36px;
  height: 36px;
}

.shield-icon {
  height: 100%;
  aspect-ratio: 1;
}

.KDA-tracker-wrapper {
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;

  &.minimal {
    @extend .KDA-tracker-wrapper;
    width: 170px;
  }
}

.KDA-tracker {
  position: relative;
  width: fit-content;
  font-family: "Unbounded", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;

  &.minimal {
    @extend .KDA-tracker;
    display: flex;
    flex-direction: row;
    gap: 14px;
  }
}

.KDA-tracker-bundle {
  display: flex;
  flex-direction: column;
}

.KDA-title {
  @extend .agentname-text;
  color: white;
}

.KDA-text {
  color: #ffffff;
  font-family: "Unbounded", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0;

  &-delimiter {
    @extend .KDA-text;
    color: #ffffff80;
  }
}

.weapon-icon-container {
  display: flex;
  min-width: 160px;
  max-width: 200px;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
}

.weapon-icon-wrapper {
  align-items: flex-start;
  justify-content: center;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  max-width: 190px;
  position: relative;
  flex: 0 0 auto;
}

.weapon-icon {
  position: relative;
  max-height: 40px;
  max-width: 160px;
  object-fit: cover;
}

.money-container {
  display: flex;
  flex-direction: column;
  min-width: 80px;
  max-width: 100px;
  flex: auto;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
}

.money-element {
  position: relative;
  width: fit-content;
  opacity: 0.8;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  margin: -5px;
}

.credits-icon {
  position: relative;
  width: 12px;
  height: 12px;
}

.money-text {
  letter-spacing: 0;
  opacity: 0.8;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 18px;

  &-red {
    @extend .money-text;
    color: #ff4557;
  }

  &-white {
    @extend .money-text;
    color: white;
  }
}

app-abilities {
  min-width: 90px;
  margin: 0 5px;
}
