<div *ngIf="shouldDisplay()">
  <app-topinfo [tools]="match.tools" [map]="match.map" />
  <app-topscore [match]="match" />
  <app-endround *ngIf="match.roundPhase !== 'shopping'" [match]="match" [@fadeFast] />

  <app-playercams
    *ngIf="match.tools?.playercamsInfo?.enable ?? false"
    [match]="match"
    [class.hidden]="match.roundPhase !== 'combat'"
    class="absolute top-185 left-119 aspect-video h-48"
  />
  <app-combat
    *ngIf="match.roundPhase !== 'shopping'"
    [match]="match"
    [hideAuxiliary]="hideAuxiliary"
    [@fade]
  />
  <app-scoreboard
    *ngIf="match.roundPhase === 'shopping'"
    [match]="match"
    [hideAuxiliary]="hideAuxiliary"
    [@fade]
  />
</div>
