.flip {
  transform: rotateY(180deg);
}

.right {
  @extend .flip;
}

.spectator-icon-container {
  position: absolute;
  top: 2px;
  left: 7px;
  z-index: 3;
}

.spectator-icon {
  width: 15px;
  aspect-ratio: 1;
}

.spike-icon-wrapper {
  position: absolute;
  bottom: -1px;
  left: 3px;
  z-index: 3;
}

.spike-icon {
  position: relative;
  width: 30px;
  aspect-ratio: 1;
}

.player-container {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.player-card {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
}

.agent-icon {
  z-index: 1;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  aspect-ratio: 1;
  height: 100%;
  top: 0;

  &.dead {
    @extend .agent-icon;
    filter: grayscale(1);
  }
}

.utility-container {
  display: flex;
  flex-direction: row;
  height: 85px;
  align-items: center;
  position: relative;

  &.attacker {
    @extend .utility-container;
    background: linear-gradient(
      90deg,
      rgba(39, 39, 39, 0.75) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  &.defender {
    @extend .utility-container;
    background: linear-gradient(
      90deg,
      rgba(39, 39, 39, 0.75) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  &.minimal {
    @extend .utility-container;
    flex-direction: row;
    gap: 6px;
    padding-left: 12px;
    align-items: center;
    justify-content: flex-start;
  }
}

.weapon-icon-wrapper {
  display: inline-flex;
  width: 125px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.weapon-icon {
  position: relative;
  height: 24px;
  object-fit: cover;
  transform: rotateY(180deg);
}

.ultimate-tracker-container {
  display: inline-flex;
  height: 24px;
  align-items: center;
  position: relative;
  // justify-content: center;
  margin-right: 12px;
  margin-left: 12px;
}

.ultimate-tracker {
  width: 40px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2px;
  position: relative;
  justify-content: center;
}

.ultimate-icon {
  width: 100%;
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  justify-content: center;
}

.pip-ultimate {
  position: relative;
  height: 8px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;

  &-full {
    @extend .pip-ultimate;
    &.defender {
      background-color: var(--defender-color-shield-currency);
    }

    &.attacker {
      background-color: var(--attacker-color-shield-currency);
    }
  }
}

.ultimate-full-image {
  width: 35px;

  &.available {
    @extend .ultimate-full-image;
    filter: brightness(1);
  }

  &.unavailable {
    @extend .ultimate-full-image;
    filter: brightness(0.35);
  }
}

/*
.rank-icon-container {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -48px;
  bottom: 0px;
  z-index: 2;
  background-size: cover;
  background-position: 50% 50%;
}

.rank-icon {
  height: 100%;
  aspect-ratio: 1;
}
*/

.agent-icon-container {
  z-index: 1;
  position: absolute;
  height: 100%;
  top: 0;
}

.player-info {
  display: flex;
  flex-direction: column;
  width: 135px;
  height: 71px; //85 px - top and bottom padding
  flex: 1 1 1;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-left: 95px;
  padding-top: 7px;
  padding-bottom: 7px;

  &.defender {
    @extend .player-info;
    background: linear-gradient(
        90deg,
        rgba(var(--defender-color-rgb), 0.25) 0%,
        rgba(var(--defender-color-rgb), 0) 100%
      ),
      rgba(39, 39, 39, 0.75);
  }

  &.attacker {
    @extend .player-info;
    background: linear-gradient(
        90deg,
        rgba(var(--attacker-color-rgb), 0.4) 0%,
        rgba(var(--attacker-color-rgb), 0) 100%
      ),
      rgba(39, 39, 39, 0.75);
  }

  &.observed {
    @extend .player-info;
    background: linear-gradient(90deg, rgba(225, 181, 22, 0.3) 0%, rgba(225, 181, 22, 0) 100%),
      rgba(39, 39, 39, 0.75);
  }

  &.dead {
    @extend .player-info;
    background: rgba(15, 25, 35, 0.6);
  }

  &.minimal {
    @extend .player-info;
    width: 180px;
  }
}

.username-container {
  display: inline-flex;
  width: 100%;
  align-items: center;
  gap: 4px;
  position: relative;
}

.username-title {
  position: relative;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;

  /*&.minimal {
    @extend .username-title;
    font-size: 18px;
  }*/
}

.shields-currency-container {
  display: inline-flex;
  width: 100%;
  position: relative;
  gap: 10px;
}

.currency-container {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  position: relative;
}

.valorant-credits {
  position: relative;
  width: 8px;
  height: 8px;

  &.attacker {
    @extend .valorant-credits;
    fill: var(--attacker-color-shield-currency);
  }

  &.defender {
    @extend .valorant-credits;
    fill: var(--defender-color-shield-currency);
  }
}

.currency-title {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.8;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;

  &.attacker {
    @extend .currency-title;
    color: var(--attacker-color-shield-currency);
  }

  &.defender {
    @extend .currency-title;
    color: var(--defender-color-shield-currency);
  }
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 41px;
}

.stats-title {
  @extend .currency-title;
  color: white;
}

.stats-content {
  @extend .username-title;
  font-size: 18px;
}

.app-shield-icon {
  position: relative;
  width: 20px;
  height: 20px;
}

.health-container {
  display: flex;
  height: 25px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  gap: 8px;

  &.right {
    @extend .health-container;
    justify-content: flex-end;
  }
}

.health-amount {
  position: relative;
  width: fit-content;
  opacity: 0.8;
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;

  &.attacker {
    @extend .health-amount;
    color: var(--attacker-color-shield-currency);
  }

  &.defender {
    @extend .health-amount;
    color: var(--defender-color-shield-currency);
  }
}

.health-bar {
  position: absolute;
  z-index: 2;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.2s ease-out;

  &.attacker {
    @extend .health-bar;
    background-color: var(--attacker-color-shield-currency);
  }

  &.defender {
    @extend .health-bar;
    background-color: var(--defender-color-shield-currency);
  }
}

.abilities {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
