<div class="container">
  <div class="text" *ngIf="type === 'past'">
    <div class="text">
      {{ mapinfo.map }} <img src="{{ mapinfo.left.logo }}" class="logo" />
      {{ mapinfo.left.score }} - {{ mapinfo.right.score }}
      <img src="{{ mapinfo.right.logo }}" class="logo" />
    </div>
  </div>
  <div class="text" *ngIf="type === 'present'">
    <div class="text">
      {{ "mapinfo.live" | translate: { map: map } }}
      <img src="{{ mapinfo.logo }}" class="logo" />
    </div>
  </div>
  <div class="text" *ngIf="type === 'future'">
    <div class="text" *ngIf="mapinfo.logo !== ''">
      {{ "mapinfo.next" | translate: { map: mapinfo.map } }}
      <img src="{{ mapinfo.logo }}" class="logo" />
    </div>
    <div class="text" *ngIf="mapinfo.logo === ''">
      {{ "mapinfo.decider" | translate: { map: mapinfo.map } }}
    </div>
  </div>
</div>
