<div class="frame-2">
  <div class="playercards-leftteam">
    <app-playercard *ngFor="let player of match.teams[0].players; trackBy: trackByPlayerId" [match]="match"
      [player]="player" [color]="match.teams[0].isAttacking ? 'attacker' : 'defender'" side="left" />
  </div>
  <div class="playercards">
    <app-playercard *ngFor="let player of match.teams[1].players; trackBy: trackByPlayerId" [match]="match"
      [player]="player" [color]="match.teams[1].isAttacking ? 'attacker' : 'defender'" side="right" />
  </div>
</div>
