@if (isShown()) {
  <div
    class="vw-1920 vh-430 flex flex-row justify-between"
    animate.enter="animate-fade-in"
    animate.leave="animate-fade-out"
  >
    <div class="flex flex-col gap-3.5">
      @for (player of dataModel.teams()[0].players; track $index) {
        <app-player-combat-card
          [player]="player"
          [playerHealth]="player.health"
          [isObserved]="player.isObserved"
          [right]="false"
          [color]="dataModel.teams()[0].isAttacking ? 'attacker' : 'defender'"
        ></app-player-combat-card>
      }
    </div>
    <div class="flex flex-col gap-3.5">
      @for (player of dataModel.teams()[1].players; track $index) {
        <app-player-combat-card
          [player]="player"
          [playerHealth]="player.health"
          [isObserved]="player.isObserved"
          [right]="true"
          [color]="dataModel.teams()[1].isAttacking ? 'attacker' : 'defender'"
        ></app-player-combat-card>
      }
    </div>
  </div>
}
