@theme {
  --animate-fade-in: fade-in 1s ease-in;
  --animate-fade-out: fade-in 1s ease-in reverse;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-collapse-side-in: collapse-side-in 0.1s ease-out;
  --animate-collapse-side-out: collapse-side-in 0.25s ease-in reverse;
  @keyframes collapse-side-in {
    0% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: calc(auto);
      opacity: 1;
    }
  }

  --animate-collapse-center-in: collapse-center 0.15s reverse;
  --animate-collapse-center-out: collapse-center 0.15s;
  @keyframes collapse-center {
    0% {
      opacity: 1;
      transform: scale(1, 1);
    }
    100% {
      opacity: 0;
      transform: scale(0, 1.5);
    }
  }
}

@utility animate-duration-* {
  animation-duration: calc(--value(integer) * 1ms);
}
