@theme {
  --animate-fade-in: fade-in 0.5s ease-in;
  --animate-fade-out: fade-in 0.5s ease-in reverse;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-collapse-center-in: collapse-center 0.15s reverse;
  --animate-collapse-center-out: collapse-center 0.15s;
  @keyframes collapse-center {
    0% {
      opacity: 1;
      transform: scale(1, 1);
    }
    100% {
      opacity: 0;
      transform: scale(0, 1.5);
    }
  }
}

@utility animate-duration-* {
  animation-duration: calc(--value(integer) * 1ms) !important;
}

@utility animate-delay-* {
  animation-delay: calc(--value(integer) * 1ms) !important;
}
@source inline("animate-delay-{0..2000..50}");

@utility animate-style-keep {
  animation-fill-mode: forwards !important;
}
@utility animate-style-early {
  animation-fill-mode: backwards !important;
}
@utility animate-style-both {
  animation-fill-mode: both !important;
}
