/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

@import "tailwindcss";
@import "./animations.css";

@theme static inline {
  --color-timer: #0f1923;
  --color-background: #0f1923cc;
  --color-credits-negative: #ff4557;

  --color-defender-primary: var(--defender-color);
  --color-defender-secondary: var(--defender-color-secondary);
  --color-defender-shield: var(--defender-color-shield-currency);

  --color-attacker-primary: var(--attacker-color);
  --color-attacker-secondary: var(--attacker-color-secondary);
  --color-attacker-shield: var(--attacker-color-shield-currency);
}

@utility font-montserrat {
  font-family: Montserrat, Helvetica;
}
@utility font-unbounded {
  font-family: Unbounded, Helvetica;
}

/* Custom classes to size a component according to its relative size within a 1080p screen */
@utility vw-* {
  width: calc((--value(integer) / 1920) * 100vw);
}
@utility vh-* {
  height: calc((--value(integer) / 1080) * 100vh);
}
@utility max-vw-* {
  max-width: calc((--value(integer) / 1920) * 100vw);
}
@utility max-vh-* {
  max-height: calc((--value(integer) / 1080) * 100vh);
}
@utility min-vw-* {
  min-width: calc((--value(integer) / 1920) * 100vw);
}
@utility min-vh-* {
  min-height: calc((--value(integer) / 1080) * 100vh);
}

/* Custom classes to position components on an overlay screen */
@utility pos-x-center {
  position: absolute;
  left: 50vw;
  translate: -50%;
}
@utility pos-x-* {
  position: absolute;
  left: calc((--value(integer) / 1920) * 100vw);
}
@utility pos-y-* {
  position: absolute;
  top: calc((--value(integer) / 1080) * 100vh);
}

@utility pos-b-* {
  position: absolute;
  bottom: calc((--value(integer) / 1080) * 100vh);
}

@utility pill-background {
  background: linear-gradient(
    90deg,
    rgba(15, 25, 35, 0.85) 0%,
    rgba(31.14, 37.75, 40.58, 0.85) 100%
  );
}

@utility flip {
  transform: rotateY(180deg);
}

img {
  max-width: unset;
  vertical-align: unset;
}

html {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: unset;
}

:root {
  --light: #ffffff;
  --dark: #000000;
  --less-dark: #0f0f0f;
  --chat-msg: #dbdee1;
  --cerise: #e52e5e;
  --slate: #262626;
  --blue-dodger: #24affe;
  --tile-dark: #ffc700;
  --tile-light: #fffbd3;
  --grunge-slate: #262626;
}

.marker-square {
  fill: yellow !important;
  opacity: 0.5 !important;
}
