@if (dataModel.seriesInfo().needed > 1) {
  <div
    class="vw-467 vh-8 flex flex-row content-center items-center justify-between overflow-visible opacity-80"
  >
    <div class="flex flex-row gap-1.5 overflow-visible">
      @for (i of numSequence(dataModel.seriesInfo().needed); track $index) {
        <app-series-win-pip
          [full]="$index < dataModel.seriesInfo().wonLeft"
          [right]="false"
        ></app-series-win-pip>
      }
    </div>
    <div class="flex flex-row gap-1.5">
      @for (i of numSequence(dataModel.seriesInfo().needed); track $index) {
        <app-series-win-pip
          [full]="$index < dataModel.seriesInfo().wonRight"
          [right]="true"
        ></app-series-win-pip>
      }
    </div>
  </div>
}
