<div class="flex flex-row">
  <div class="vw-216 vh-63 flex justify-center relative rounded-lg overflow-hidden">
    <div class="flex items-center justify-center bg-timer/85 flex-grow">
      <div class="w-2/5 flex justify-center items-center">
        <img src="assets/misc/icon.webp" class="w-4/5 h-4/5" />
      </div>
      <div class="flex flex-col items-center justify-center max-w-3/5 overflow-hidden">
        <p class="font-unbounded font-extrabold text-xl uppercase text-white tracking-tighter">
          INT
        </p>
        <p class="font-montserrat font-extrabold text-xs text-white/60 tracking-tighter">Group A</p>
      </div>
    </div>
    <div class="vw-4 bg-defender-secondary shrink-0"></div>
    <div class="vw-70 shrink-0 h-full bg-defender-primary flex justify-center items-center">
      <p class="font-montserrat font-bold text-4xl text-white w-fit leading-none">0</p>
    </div>
  </div>

  <!-- spacer div -->
  <div class="vw-170"></div>

  <div class="vw-216 vh-63 flex justify-center relative rounded-lg overflow-hidden">
    <div class="vw-70 shrink-0 h-full bg-attacker-primary flex justify-center items-center">
      <p class="font-montserrat font-bold text-4xl text-white w-fit leading-none">0</p>
    </div>
    <div class="vw-4 bg-attacker-secondary shrink-0"></div>
    <div class="flex items-center justify-center bg-timer/85 flex-grow">
      <div class="flex flex-col items-center justify-center max-w-3/5 overflow-hidden">
        <p class="font-unbounded font-extrabold text-xl uppercase text-white tracking-tighter">
          INT
        </p>
        <p class="font-montserrat font-extrabold text-xs text-white/60 tracking-tighter">Group A</p>
      </div>
      <div class="w-2/5 flex justify-center items-center">
        <img src="assets/misc/icon.webp" class="w-4/5 h-4/5" />
      </div>
    </div>
  </div>
</div>
