<div class="flex flex-row vw-602 justify-between">
  @for (team of dataModel.teams(); track $index) {
    <div
      class="vw-216 vh-63 flex flex-row justify-center relative rounded-md overflow-hidden"
      [class.flex-row-reverse]="$index > 0"
    >
      <div
        class="flex flex-row items-center justify-center bg-timer/85 flex-grow"
        [class.flex-row-reverse]="$index > 0"
      >
        <div class="w-2/5 flex justify-center items-center">
          <img [src]="team.teamUrl" class="w-4/5 h-4/5" />
        </div>
        <div class="flex flex-col items-center justify-center max-w-3/5 overflow-hidden">
          <p class="font-unbounded font-extrabold text-xl uppercase text-white tracking-tighter">
            {{ team.teamTricode }}
          </p>
          <p class="font-montserrat font-extrabold text-xs text-white/60 tracking-tighter">
            {{ $index === 0 ? dataModel.seedingInfo().left : dataModel.seedingInfo().right }}
          </p>
        </div>
      </div>
      <div
        class="vw-4 bg-defender-secondary shrink-0"
        [class.!bg-attacker-secondary]="team.isAttacking"
      ></div>
      <div
        class="vw-70 shrink-0 h-full bg-defender-primary flex justify-center items-center"
        [class.!bg-attacker-primary]="team.isAttacking"
      >
        <p class="font-montserrat font-bold text-4xl text-white w-fit leading-none">
          {{ team.roundsWon }}
        </p>
      </div>
    </div>
  }
</div>
