<div class="pill-background flex w-full flex-row items-center justify-center text-center">
  @switch (this.type()) {
    @case ("past") {
      <p>{{ mapinfo.map }}</p>
      <img [src]="mapinfo.left.logo" class="max-h-5 max-w-5 px-1 py-0.5 align-middle" />
      <p>{{ mapinfo.left.score }} - {{ mapinfo.right.score }}</p>
      <img [src]="mapinfo.right.logo" class="max-h-5 max-w-5 px-1 py-0.5 align-middle" />
    }
    @case ("present") {
      Live: {{ currentMap }}
      <img [src]="mapinfo.logo" class="max-h-5 max-w-5 px-1 py-0.5 align-middle" />
    }
    @case ("future") {
      @if (mapinfo.logo !== "") {
        <!-- someone picked the map -->
        Next: {{ mapinfo.map }}
        <img [src]="mapinfo.logo" class="max-h-5 max-w-5 px-1 py-0.5 align-middle" />
      } @else {
        Decider: {{ mapinfo.map }}
      }
    }
  }
</div>
