.topscore {
  position: absolute;
  display: flex;
  width: 601px;
  height: 143px;
  left: 660px;
  top: 0px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.topscore-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  top: 0px;
  position: absolute;
}

.scoreboard {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 168.97px;
  position: relative;
  // box-shadow: -1px 1px 1px #0000001f; This currently creates a weird shadow between the two scoreblocks
}

.teamcard {
  display: flex;
  width: 175px;
  align-items: center;
  position: relative;
}

.teamcard-border {
  @extend .teamcard;
  height: 66.5px;
  overflow: hidden;
}

.teaminfo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #0f1923d9;
}

.teamimage-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-image {
  position: relative;
  position: absolute;
  height: 125%;
  z-index: 0;
  &-left {
    @extend .team-image;
    left: -5px;
  }
  &-right {
    @extend .team-image;
    right: -5px;
  }
  filter: brightness(0.75)
}

.teamname-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  overflow: hidden;
  z-index: 2;
}

.teamcode {
  font-family: Unbounded, Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.48px;
  line-height: normal;
  white-space: nowrap;
  text-shadow: 0px 2px 4px black;
}

.teamseeding {
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  text-shadow: 0px 3px 3px black;
}

.divider {
  position: relative;
  align-self: stretch;
  width: 3.62px;
  &.defender {
    @extend .divider;
    background-color: var(--defender-color-secondary);
  }
  &.attacker {
    @extend .divider;
    background-color: var(--attacker-color-secondary);
  }
  z-index: 1;
}

.scoreblock {
  display: flex;
  flex-direction: column;
  width: 70px;
  align-items: center;
  justify-content: center;
  gap: 12.07px;
  position: relative;
  align-self: stretch;
  border: 0px none;
  &-left {
    @extend .scoreblock;
  }
  &-right {
    @extend .scoreblock;
  }
  &.defender {
    @extend .scoreblock;
    background-color: var(--defender-color);
  }
  &.attacker {
    @extend .scoreblock;
    background-color: var(--attacker-color);
  }
  z-index: 1;
}

.score-text {
  position: relative;
  width: fit-content;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12);
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  font-style: normal;
  text-align: center;
  // letter-spacing: 1.2px;
  line-height: normal;
}

.round-number {
  position: absolute;
  font-family: Unbounded, Helvetica;
  font-weight: 800;
  color: #fefeff99;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.39px;
  line-height: normal;
  top: 2px;
}

.spike-indicator {
  display: inline-flex;
  align-items: center;
  position: relative;
  top: -48px
}

.spike-icon {
  position: relative;
  width: 64px;
}

.mapwin-line {
  display: inline-flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 1px;
  position: absolute;
  width: 10px;
  height: 100%;
  flex: 1 1 1;
  &-left {
    @extend .mapwin-line;
    right: -10px;
  }
  &-right {
    @extend .mapwin-line;
    left: -10px;
  }
  z-index: 100;
}

.mapwin-pip {
  position: relative;
  width: 10px;
  height: 100%;
  background-color: #0000007e;

  &-full {
  @extend .mapwin-pip;
    background-color: rgb(255, 255, 255);
  }
}
