.topscore {
  position: absolute;
  display: flex;
  width: 601px;
  height: 140px;
  left: 660px;
  top: 0px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.topscore-accent {
  display: flex;
  position: absolute;
  top: -10px;
  width: 600px;
  height: 70px;
  background-color: rgb(11,24,29);
  border-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 68% 0%, 61.5% 100%, 61.5% 4%, 38.5% 4%, 38.5% 100%, 32% 0%, 0 0%);
}

.topscore-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  top: 0px;
  position: absolute;
}

.scoreboard {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 200px;
  position: relative;
  // box-shadow: -1px 1px 1px #0000001f; This currently creates a weird shadow between the two scoreblocks
}

.teamcard {
  display: flex;
  width: 200px;
  align-items: center;
  position: relative;
  clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
}

.teamcard-border {
  @extend .teamcard;
  height: 60px;
  overflow: hidden;
}

.teaminfo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #0f1923d9;
}

.teamimage-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-image {
  position: relative;
  position: absolute;
  height: 125%;
  z-index: 0;
  &-left {
    @extend .team-image;
    left: -5px;
  }
  &-right {
    @extend .team-image;
    right: -5px;
  }
  filter: brightness(0.75)
}

.teamname-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  overflow: hidden;
  z-index: 2;
}

.teamcode {
  font-family: Unbounded, Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.48px;
  line-height: normal;
  white-space: nowrap;
  text-shadow: 0px 2px 4px black;
}

.teamseeding {
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  text-shadow: 0px 3px 3px black;
}

.divider {
  position: relative;
  align-self: stretch;
  width: 3.62px;
  &.defender {
    @extend .divider;
    background-color: var(--defender-color-secondary);
  }
  &.attacker {
    @extend .divider;
    background-color: var(--attacker-color-secondary);
  }
  z-index: 1;
}

.scoreblock {
  display: flex;
  flex-direction: column;
  width: 70px;
  align-items: center;
  justify-content: center;
  gap: 12.07px;
  position: relative;
  align-self: stretch;
  border: 0px none;
  &-left {
    @extend .scoreblock;
  }
  &-right {
    @extend .scoreblock;
  }
  &.defender {
    @extend .scoreblock;
    background-color: var(--defender-color-tertiary);
  }
  &.attacker {
    @extend .scoreblock;
    background-color: var(--attacker-color-tertiary);
  }
}

.score-text {
  position: relative;
  width: fit-content;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12);
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  line-height: normal;
}

.round-number {
  position: absolute;
  font-family: Unbounded, Helvetica;
  font-weight: 800;
  color: #fefeff99;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.39px;
  line-height: normal;
  top: 0;
}

.spike-indicator {
  width: 23%;
  height: 120%;
  top: -20%;
  position: absolute;
  display: inline-flex;
  align-items: center;
  position: relative;
  top: -48px
}

.spike-icon {
  position: relative;
  width: 64px;
}

.mapwin-line {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 115%;
  &-left {
    @extend .mapwin-line;
    right: 5%;
  }
  &-right {
    @extend .mapwin-line;
    left: 5%;
  }
}

.mapwin-pip {
  position: relative;
  width: 9px;
  height: 9px;
  rotate: 45deg;
  border-radius: 1px;
  border: 1px solid;
  border-color: #ffffffaa;
  &-full {
    @extend .mapwin-pip;
    background-color: #ffffff;
  }
}

.timer-rounder {
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 23%;
  height: 50%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 3px solid #0f1923;
  border-left: 3px solid #0f1923;
  border-right: 3px solid #0f1923;
  z-index: -10;
}
