<div class="topscore">
  <div class="topscore-container">
    <div class="scoreboard">
      <div class="teamcard">
        <div class="teamcard-border">
          <div class="teaminfo-container">
            <div class="teamimage-container">
              <img class="team-image" src="{{ match.teams[0].teamUrl }}" />
            </div>
            <div class="teamname-container">
              <div class="teamcode">{{ match.teams[0].teamTricode }}</div>
              <div class="teamseeding">
                {{ match.tools.seedingInfo.left }}
              </div>
            </div>
          </div>
          <div class="divider" [class]="match.teams[0].isAttacking ? 'attacker' : 'defender'"></div>
          <div
            class="scoreblock-left"
            [class]="match.teams[0].isAttacking ? 'attacker' : 'defender'"
          >
            <div class="score-text">{{ match.teams[0].roundsWon }}</div>
          </div>
        </div>
        <div class="mapwin-line-left" *ngIf="match.tools.seriesInfo.needed > 1">
          <div
            class="mapwin-pip-full"
            *ngFor="let i of numSequence(match.tools.seriesInfo.wonLeft)"
          ></div>
          <div
            class="mapwin-pip"
            *ngFor="
              let i of numSequence(match.tools.seriesInfo.needed - match.tools.seriesInfo.wonLeft)
            "
          ></div>
        </div>
      </div>

      <div class="teamcard">
        <div class="teamcard-border">
          <div
            class="scoreblock-right"
            [class]="match.teams[1].isAttacking ? 'attacker' : 'defender'"
          >
            <div class="score-text">{{ match.teams[1].roundsWon }}</div>
          </div>
          <div class="divider" [class]="match.teams[1].isAttacking ? 'attacker' : 'defender'"></div>
          <div class="teaminfo-container">
            <div class="teamname-container">
              <div class="teamcode">{{ match.teams[1].teamTricode }}</div>
              <div class="teamseeding">
                {{ match.tools.seedingInfo.right }}
              </div>
            </div>
            <div class="teamimage-container">
              <img class="team-image" src="{{ match.teams[1].teamUrl }}" />
            </div>
          </div>
        </div>
        <div class="mapwin-line-right" *ngIf="match.tools.seriesInfo.needed > 1">
          <div
            class="mapwin-pip-full"
            *ngFor="let i of numSequence(match.tools.seriesInfo.wonRight)"
          ></div>
          <div
            class="mapwin-pip"
            *ngFor="
              let i of numSequence(match.tools.seriesInfo.needed - match.tools.seriesInfo.wonRight)
            "
          ></div>
        </div>
      </div>
    </div>
    <div
      class="spike-indicator"
      *ngIf="
        match.roundPhase === 'combat' &&
        match.spikeState.planted &&
        !match.spikeState.detonated &&
        !match.spikeState.defused
      "
      [@fade]
    >
      <img
        class="spike-icon"
        src="../../assets/misc/Spike_top_{{ blinkState ? 'light' : 'dark' }}.svg"
      />
    </div>
  </div>
  <div class="round-number">ROUND {{ match.roundNumber }}</div>
</div>
