.topscore {
  position: absolute;
  width: 601px;
  height: 143px;
  top: 4px;
  left: 660px;
}

.topscore-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  position: absolute;
  top: 5px;
  left: 0;
}

.scoreboard {
  display: inline-flex;
  height: 62.76px;
  align-items: flex-start;
  justify-content: center;
  gap: 168.97px;
  position: relative;
  // box-shadow: -1px 1px 1px #0000001f; This currently creates a weird shadow between the two scoreblocks
}

.teamcard {
  display: flex;
  width: 216px;
  align-items: center;
  position: relative;
}

.teamcard-border {
  @extend .teamcard;
  height: 62.76px;
  overflow: hidden;
  border-radius: 8px;
}

.teaminfo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #0f1923d9;
}

.teamimage-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-image {
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

.teamname-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  overflow: hidden;
}

.teamcode {
  font-family: Unbounded, Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.48px;
  line-height: normal;
  white-space: nowrap;
}

.teamseeding {
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  color: #ffffff99;
  font-size: 10px;
  font-style: normal;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
}

.divider {
  position: relative;
  align-self: stretch;
  width: 3.62px;
  &.defender {
    @extend .divider;
    background-color: var(--defender-color-secondary);
  }
  &.attacker {
    @extend .divider;
    background-color: var(--attacker-color-secondary);
  }
}

.scoreblock {
  display: flex;
  flex-direction: column;
  width: 70px;
  align-items: center;
  justify-content: center;
  gap: 12.07px;
  position: relative;
  align-self: stretch;
  border: 0px none;
  &-left {
    @extend .scoreblock;
    border-radius: 0px 4px 4px 0px;
  }
  &-right {
    @extend .scoreblock;
    border-radius: 4px 0px 0px 4px;
  }
  &.defender {
    @extend .scoreblock;
    background-color: var(--defender-color);
  }
  &.attacker {
    @extend .scoreblock;
    background-color: var(--attacker-color);
  }
}

.score-text {
  position: relative;
  width: fit-content;
  text-shadow: 0px 1.21px 4.83px rgba(0, 0, 0, 0.12);
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  font-style: normal;
  text-align: center;
  // letter-spacing: 1.2px;
  line-height: normal;
}

.round-number {
  font-family: "Unbounded-Bold", Helvetica;
  font-weight: 700;
  color: #fefeff99;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.39px;
  line-height: normal;
}

.spike-indicator {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  position: relative;
  top: -58px;
  flex: 0 0 auto;
}

.spike-icon {
  position: relative;
  width: 67.24px;
  height: 61.99px;
  margin-top: -7px;
  margin-bottom: -9px;
  margin-left: -8px;
  margin-right: -8px;
}

.mapwin-line {
  display: inline-flex;
  justify-content: center;
  gap: 5px;
  position: absolute;
  top: 110%;
  min-width: 32%;
  &-left {
    @extend .mapwin-line;
    right: 0;
  }
  &-right {
    @extend .mapwin-line;
    left: 0;
  }
}

.mapwin-pip {
  position: relative;
  width: 14px;
  height: 7px;
  border-radius: 3px;
  border: 1.75px solid;
  border-color: #ffffffaa;
  &-full {
    @extend .mapwin-pip;
    background-color: #ffffff;
  }
}
